<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Free CRM automation Test Suite">
	<test name="Free CRM automation Test">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest" />
			<class name="com.crm.qa.testcases.HomePageTest" />
			<class name="com.crm.qa.testcases.ContactsPageTest" />
		</classes>
	</test>
</suite>